ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
}

li {
  display: inline;
  float: right;
}

li a {
  background-color: cadetblue;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: White;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  background-color:darkslategray;
}

h1 {
  font-size: 55px;
  color: cadetblue;
  padding-left: 25px;
  
}

h2 {
  padding-left: 25px;
  font-size: 45px;
  color: cadetblue;
  text-align: center;
}

h3 {
  font-size: 15px;
  text-align: center;
}

h4 {
  font-size: 15px;
  padding-left: 120px;
}

h5 {
  font-size: 12px;
  text-align: center;
}

img {
  padding: 5px;
  width: 300px;
}

.box {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px 30px 10px;
  color: black;
  background-color: white;

}

.row {
  width: 90%;
  margin: 20px auto;
  padding-top: 50px;
}

.visual-container {
  display: flex;
  flex-wrap: wrap;
}
.visual-container .image {
  width: 50%;
}
